<nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"></a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li id="home"><a href="/">HOME</a></li>
              <li id="about"><a href="/python/options/view">PYTHON WEB AUTOMATION</a></li>
              <li id="about"><a href="/IMU/AUTOMATEDANALYST">AUTOMATED ANALYST</a></li>
            </ul>
          </div>
        </div>
      </nav>