<nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"></a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li id="home"><a href="/">Home</a></li>
              <li id="parameters"><a href="/python/options/view">Parameters</a></li>
              <li id="charts"><a href="/IMU/AUTOMATEDANALYST">Charts and Graphs</a></li>
            </ul>
          </div>
        </div>
      </nav>