<!DOCTYPE html>
<link rel= "stylesheet" href= "{{ url_for('static',filename='css/main.css') }}">
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>D.O.P.E.</title>
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon" />
  </head>
  <body>
      <header>
          <div class="container">
              <h1 class="logo">About</h1>
              <strong>
                  <nav>
                      <ul class="menu">
                          <li><a href="/">Home</a></li>
                          <li><a href="about">About</a></li>
                          <li><a href="input">Input</a></li>
                          <li><a href="charts">Charts</a></li>
                      </ul>
                  </nav>
              </strong>
          </div>
      </header>
    <h3> Industry Background </h3>
    <p> The purpose of our project is to predict the set aside on a Federal contract before the information is </p>
      <p> publicly available. Often a contract is posted to a public board months in advance of the Government </p>
      <p> deciding on a set aside. </p>
      <p> Our goal is to avoid wasting precious resources on writing proposals for contracts a company might not be qualify </p>
      <p> for. </p>
    <h4><b><font size="+2">Set Aside:</font></b> </h4>
    <p> What set aside category do you belong to? </p>
      <p> A set aside is a designation given to qualifying businesses that allows them to compete for contracts </p>
      <p> exclusively "set aside" for that grouping of businesses. </p>
      <p> An example of a set aside would be a Women Owned Small Business, or broader yet, just a Small Business </p>
    <h4><b><font size="+2">PSC Code:</font></b></h4>
    <p>What line of work are you in? </p>
      <p> A PSC, or Product Service Code, is a category of goods or services that the government uses</p>
      <p> to help specify what it is looking to purchase from a contractor </p>
      
    <h4><b><font size="+2">Mapping:</font></b></h4>
      <p><b>SBA</b> Small Business Set-Aside -- Total:  Report this code for a small business set-aside (excluding Small Business Innovation Research (SBIR)) made pursuant to FAR 19.502-2.</p>
      <br/>
      <p><b>8A</b> 8a Competed:  Report this code for an 8a award pursuant to FAR 19.805-2.</p>
      <br/>
      <p><b>8AN</b> 8(a) Sole Source :  Report this code for actions with the Small Business Administration pursuant to FAR 19.8, or directly with an 8(a) contractor pursuant to a memorandum of understanding between the SBA and the reporting agency per 219.811.</p>
      <br/>
      <p><b>HZC</b> HUBZone Set-Aside:  Report this code if the award was made to a HUBZone small business concern after being competed among only HUBZone small business concerns.  See FAR 19.1305.</p>
      <br/>
      <p><b>SDVOSBC</b> Service Disabled Veteran Owned Small Business Set-Aside:  Report this code for contract awards exceeding the micro purchase threshold set-aside for competition restricted to service-disabled veteran-owned small business concerns.  FAR.19.1405.</p>
      <br/>
      <p><b>WOSB</b> Women Owned Small Business:  Report this code for a Women Owned Small Business Set-Aside made pursuant to FAR 19.15. This code is only valid for actions signed on or after 4/01/2011.</p>
<!--
    <h3>Ports</h3>
    <p> Port   22: SSH </p>
    <p> Port 5432: Postgres </p>
    <a class="inline" href="http://www.dopelytics.site"> Port 8090: D.O.P.E Flask App </a> <br> <br>
    <a class="inline" href="http://www.dopelytics.site:8084"> Port 8084: Jupyter</a>
-->
      <br/>
      <br/>
      <br/>
      <br/>
  </body>
</html>
