<!DOCTYPE html>
<link rel= "stylesheet" href= "{{ url_for('static',filename='css/main.css') }}">
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>D.O.P.E.</title>
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon" />
  </head>
  <body>
      <header>
          <div class="container">
              <h1 class="logo">Charts</h1>
              <strong>
                  <nav>
                      <ul class="menu">
                          <li><a href="/">Home</a></li>
                          <li><a href="about">About</a></li>
                          <li><a href="input">Input</a></li>
                          <li><a href="charts">Charts</a></li>
                      </ul>
                  </nav>
              </strong>
          </div>
      </header>
    <h2> Nice Charts and Graphs </h2>
    <p> </p>
    <img src="../static/images/final_rand_for_class_rep.JPG" alt="CDF">
    <img src="../static/images/final_rand_for_multiclass_rep.JPG" alt="CDF">
    <img src="../static/images/download.png" alt="CDF">
    <img src="../static/images/rand_for_multiclass_conf_matrix.JPG" alt="CDF">
    <img src="../static/images/class_imbalance_cdf.JPG" alt="CDF">
    <img src="../static/images/happyBusinessman.jpg" alt="CDF">
      
    </body>
</html>