<!DOCTYPE html>
<link rel= "stylesheet" href= "{{ url_for('static',filename='css/main.css') }}">
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>D.O.P.E.</title>
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon" />
  </head>
  <body>
      <header>
          <div class="container">
              <h1 class="logo">Home</h1>
              <strong>
                  <nav>
                      <ul class="menu">
                          <li><a href="/">Home</a></li>
                          <li><a href="about">About</a></li>
                          <li><a href="input">Input</a></li>
                          <li><a href="charts">Charts</a></li>
                      </ul>
                  </nav>
              </strong>
          </div>
      </header>
    <h2> Data Oriented Proposal Engine (D.O.P.E.) </h2>
    <h3>Contributors</h3> 
    <p>Kalev, Fatih, Jake, Jack</p><br/>
    <h3>Summary</h3>
    <p>Helping companies identify dope contracts to bid on, saving time and energy spent responding to RFPs.</p><br/>
    <p>Are you like Joe?</p><br/>
    <img src="../static/images/confusedBusinessman.jfif" alt="Confused Businessman">
    <p>Be more like Bob!</p><br/>
    <img src="../static/images/happyBusinessman.jpg" alt="Happy Businessman">
  </body>
</html>