<!DOCTYPE html>
<html lang="en">
  <html>
    <head>
        <% include partials/menu %>
      <title>Python Scripts</title>
        <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
        <script type="text/javascript" src="/assets/python.js"></script>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h1>Index</h1>            
        <h2 id="success"></h2>
        <div id="param-table">

        </div>
    </body>
    <footer>Unanet 2019 - Washington, DC</footer>
</html>